discord.py[voice]==1.7.3 # discord
pytz==2021.1 # timezone
asyncpraw==7.2.0 # reddit
youtube-dl==2021.6.6 # music
lyricsgenius==3.0.1 # lyrics
feedparser==6.0.6 # rss feed (news)
discord-py-slash-command==1.2.2 # slash commands
